*{
    color: #1a0e00;
    font-family:Georgia;
}

body {
    background-image: url("https://huangjt97.github.io/Personal_Webpage/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; /* adjust as needed */
    height: 100%; /* adjust as needed */
}

.HeadContainer {
    display: flex;
    padding: 20px;
    opacity: 75%;
}

.container {
    display: flex;
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
    opacity: 75%;
}

.HeadColumn{
    flex: 100%;
    border-radius: 10px; 
    background-color: #a87337;
}

.column {
    padding: 20px;
    background-color: #a87337;
}

.side-column-left {
    flex: 2;
    display: grid;
    grid-gap: 10px;
    border-radius: 10px; 
}

.middle-column {
    flex: 10;
    border-radius: 10px; 
}

.side-column-right {
    flex: 3;
    display: grid;
    grid-gap: 10px;
    border-radius: 10px; 
}