.container {
    display: flex;
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
}

.column {
    padding: 20px;
    background-color: #fafafa;
}

.side-column-left {
    flex: 2;
}

.middle-column {
    flex: 10;
}

.side-column-right {
    flex: 3;
}